@import 'core/utils';

.forumPage {
  max-width: 1140px;
  margin: auto;
  padding: 24px;

  &__mainContentWrap {
    display: flex;
  }

  &__title {
    margin-top: 0;
  }

  &__colTitle--centered {
    text-align: center;
  }

  &__topicQuantityWrap,
  &__answerQuantity {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    border: 1px solid;
    border-radius: 30px;
  }

  &__addBtnIcon {
    display: flex;
    justify-content: center;
    font-size: 1rem;
  }

  &__topicQuantity {
    min-width: 50px;
    margin-right: 16px;
    text-align: right;
  }
}
