.loader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__spinner {
    position: absolute;
    z-index: 1;
  }

  &__childrenContainer {
    pointer-events: none;
    opacity: 0.5;
    width: 100%;
  }
}
