@import 'core/vars';

.formProfileChangePassword {
  width: 350px;
  padding: $paddingL;
  border: 1px solid $lightGrayColor;
  border-radius: 10px;
}

.buttonBackChangePassword {
  position: absolute;
  top: 50%;
  left: $paddingL;
}
