@import 'core/vars';

.forumMain {
  max-width: 1140px;
  margin: $headerHeight auto 0;
  padding: 24px;

  &__mainContentWrap {
    display: flex;
  }

  &__title {
    margin-top: 0;
  }

  &__colTitle_centered {
    text-align: center;
  }
}
